* {
    margin:0;
    padding:0;
}

body {
    font-family: Consolas;
}

header {
    padding: 10px;
    background-color: #A9D18E;
    text-align: center;
}

h1 {
    font-size: 30px;
    padding: 3px;
    border-bottom: solid black 2px;
}

header h1 {
    border-bottom: none;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

ul {
    list-style-type: none;
}

li {
    padding: 5px;
}

li:hover{
    background-color: #DAA600;
    border: solid black 1px;
}

nav {
    background-color: #A9D18E;
    border: solid darkgreen 2px;
    width: 160px;
    padding: 10px;
}

button {
    background-color: #70AD47;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border: solid darkgreen 2px;
    border-radius: 6px;
    padding: 5px 10px;
    margin: 5px;
}

button:hover {
    background-color: white;
    color: #70AD47;
}

.container {
    background-color: #E2F0D9;
}

.navigation-left {
    float: left;
}
.navigation-right {
    float: right;
}

#logout-span {
    font-weight: normal;
}

#aside-login {
    background-color: #A9D18E;
    border: solid darkgreen 2px;
    width: 160px;
    padding: 10px;
    font-weight: bold;
}
