<div class="container-fluid">

    <div class="row-fluid">

        <div class="span12">

            <!-- Page Nav Header -->
            <div class="page-header">
                <div class="row-fluid">
                    <div class="span4">
                        <h3 class="text-center">Ads - {{ pageTitle }}</h3>
                    </div>
                    <div class="span8">
                        <h3 class="text-center"><small>{{ user.username }}<a href="#/">Logout</a></small>
                        </h3>
                    </div>
                </div>
            </div>

            <div class="row-fluid">

                <!-- Left Sidebar -->
                <div class="span3">
                    <div ng-include="'templates/public/left-sidebar.html'" ng-if="!isLoggedIn"></div>
                    <div ng-include="'templates/public/logged-in-sidebar.html'" ng-if="isLoggedIn"></div>
                </div>

                <!-- Body -->
                <div class="span6">
                    <public-ads></public-ads>
                </div>

                <!-- Right Sidebar -->
                <div class="span3">
                    <categories></categories>
                    <towns></towns>
                </div>

            </div>
            <!-- Fluid Row End -->

        </div>
        <!-- Div Span12 End -->

    </div>
    <!-- Fluid Row End -->

</div>
<!-- Fluid Container End -->
