<!-- User Registration Section -->
<section class="col-md-9">
    <form>
        <div class="col-md-12">
        <div class="col-md-6">
            <h3 class="text-center">User Registration</h3>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-8 col-md-push-2">
                <div class="form-group">
                    <label for="userInputUsername">Username</label>
                    <input type="text" class="form-control" id="userInputUsername" placeholder="Username" ng-model="user.username">
                </div>
            </div>
            <div class="col-md-8 col-md-push-2">
                <div class="form-group">
                    <label for="userInputPassword">Password</label>
                    <input type="password" class="form-control" id="userInputPassword" placeholder="Password" ng-model="user.password">
                </div>
            </div>
            <div class="col-md-8 col-md-push-2">
                <div class="form-group">
                    <label for="userInputConfirmPassword">Confirm Password</label>
                    <input type="password" class="form-control" id="userInputConfirmPassword" placeholder="Confirm Password">
                </div>
            </div>
            <div class="col-md-8 col-md-push-2">
                <div class="form-group">
                    <label for="userInputName">Name</label>
                    <input type="text" class="form-control" id="userInputName" placeholder="Name" ng-model="user.name">
                </div>
            </div>
            <div class="col-md-8 col-md-push-2">
                <div class="form-group">
                    <label for="userInputEmail">Email</label>
                    <input type="email" class="form-control" id="userInputEmail" placeholder="example@mail.com" ng-model="user.email">
                </div>
            </div>
            <div class="col-md-8 col-md-push-2">
                <div class="form-group">
                    <label for="userInputPhone">Phone</label>
                    <input type="text" class="form-control" id="userInputPhone" placeholder="Phone" ng-model="user.phone">
                </div>
            </div>
            <div class="col-md-8 col-md-push-2">
                <div class="form-group">
                    <label for="userSelectTown">Town</label>
                    <select class="form-control" id="userSelectTown" ng-options="town.id as town.name for town in towns" ng-model="user.townId">
                    </select>
                </div>
            </div>
            <div class="col-md-8 col-md-push-2">
                <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="register(user)">Register</button>
                <button type="button" class="btn btn-default btn-lg btn-block">Login here</button>
            </div>
        </div>
    </form>
</section>
