<div class="col-md-2">

    <!-- Aside Home Navigation -->
    <aside class="col-md-12">
        <nav class="list-group">
            <span class="list-group-item active">Navigation</span>
            <a href="#/" class="list-group-item">Home</a>
        </nav>
    </aside>

    <!-- Aside Login/Register -->
    <aside class="col-md-12">
        <nav class="list-group">
            <span class="list-group-item active">To publish a new ad, please login.</span>
            <a href="#/login" class="list-group-item">Login</a>
            <a href="#/register" class="list-group-item">Register</a>
        </nav>
    </aside>

</div>
