<aside class="col-md-2" id="asideLoggedIn">
    <nav class="list-group">
        <span class="list-group-item active">Navigation</span>
        <a href="#/" class="list-group-item">Home</a>
        <a href="#/user/ads" class="list-group-item">My Ads</a>
        <a href="#/user/ads/publish" class="list-group-item">Publish New Ad</a>
        <a href="#/user/editProfile" class="list-group-item">Edit Profile</a>
    </nav>
    <nav class="list-group">
        <span class="list-group-item active">My Ads</span>
        <a href="#/" class="list-group-item">All</a>
        <a href="#/" class="list-group-item">Published</a>
        <a href="#/" class="list-group-item">Waiting Approval</a>
        <a href="#/" class="list-group-item">Inactive</a>
        <a href="#/" class="list-group-item">Rejected</a>
    </nav>
</aside>
