<!-- Public Ads Section -->
<section class="col-md-9">
    <div class="row">
        <div class="col-md-6">
            <h3 class="text-center">Ad Title...</h3>
        </div>
        <div class="col-md-2">
            <h3 class="text-right"><small>3-Jan-2015</small></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-2">
                        <img src="images/No_image_available.jpg" class="img-responsive">
                    </div>
                    <div class="col-md-10">
                        <textarea rows="5" class="form-control-static col-md-12" disabled>email@example.com</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-offset-2 col-md-2 control-label">Name</label>
                    <div class="col-md-8">
                        <p class="form-control-static">Name</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-offset-2 col-md-2 control-label">Email</label>
                    <div class="col-md-8">
                        <p class="form-control-static"><a href="mailto:#">email@example.com</a>
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-offset-2 col-md-2 control-label">Tel.:</label>
                    <div class="col-md-8">
                        <p class="form-control-static">0888654321</p>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <p>Status:</p>
            <p><span>Waiting Approval</span>
            </p>
            <p>
                <div>
                    <button type="submit" class="btn btn-success">Deactivate</button>
                </div>
            </p>
        </div>
    </div>
</section>
